table, tr, th{
border: 1px inset black;
padding: 5%;


}


.Tim{
padding: 20%;
margin-right: 10%;
margin-left: 10%;
margin-top: 20%;
width: 20%;
height: 0 auto;
position: relative;
right: 160px;

}


}

li {
 margin: 1% 1% 1% 1%;
}
.Nav li{
position: relative;
top: 20px;
}